FLASK_ENV=development
FLASK_HOST=0.0.0.0
FLASK_PORT=5000

SECRET_KEY=8ead0733f6ecf1bb986b99f07eb0fbe87db2d2867861a73af125bf1195d245e2
JWT_SECRET_KEY=c5b2c9a2a2bc7cddea18c3715776945b3cb73256f39973e95cf03c70e6801800
JWT_ACCESS_TOKEN_HOURS=1
JWT_REFRESH_TOKEN_DAYS=7

DATABASE_URL=postgresql://ayushdhua@localhost:5432/trading_app
TEST_DATABASE_URL=postgresql://ayushdhua@localhost:5432/trading_app_test
SQLALCHEMY_ECHO=false

BCRYPT_LOG_ROUNDS=12

BINANCE_API_KEY=O4YEYvHbsJZFyjwJURsmHp6IvkvrmuA1TkOZAiR2bsmwtxgRP3XtNjkf6es6BhRr
BINANCE_API_SECRET=6leIrkrWHXcYwwFacwlQkseLaAV4Ye4bZGec8bc1tdHYnxb98SyqzunmoCYMqSS8
BINANCE_TESTNET=true

LOG_LEVEL=INFO
LOG_FILE=logs/app.log
